<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eres el flete oficial?</title>
</head>
<body>
<h1>Hoy es jueves de salchipapas</h1>

<h3>Te llevaron {{ name }}?</h3>

<ul>
    {% for l in name %}
    <li>{{ l }}</li>
    {% endfor %}
</ul>

<button>SI</button><button>NO</button>
<div>

<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6b346767-afcc-4021-b541-20dbf3dbf8b4/d984dmo-1e0e7fe7-5ce2-4da9-b589-6c919986095b.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi82YjM0Njc2Ny1hZmNjLTQwMjEtYjU0MS0yMGRiZjNkYmY4YjQvZDk4NGRtby0xZTBlN2ZlNy01Y2UyLTRkYTktYjU4OS02YzkxOTk4NjA5NWIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.d_f-xQEDOo-R4fOzgWccAuQntXX3u1FKA1UqCii5liY" width="300" height="300">
</div>
</body>
<footer>
    <a href="http://sigmotoa.com" target="_blank"><h5>by sigmotoa</h5></a>
</footer>
</html>